body {
    font-family: cursive, 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-top: 100px;
}

#clock {
    font-size: 4em;
    font-weight: 600;
    width: auto;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    letter-spacing: 0.05em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
}

#mode {
    font-size: 0.6em;
    vertical-align: text-top;
    margin: auto;
}

#counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#count-el {
    font-size: 4rem;
    color: #007bff;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 10em;
}

button {
    padding: 1em 4em;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#reset-btn {
    background-color: orangered;
}

button:hover {
    background-color: #218838;
}

button#reset-btn:hover {
    background-color: rgb(192, 55, 5);
}

h3 {
    font-size: 1.5rem;
    color: #555;
}

#log-list {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log-list li {
    font-size: 1rem;
    color: #444;
    padding: .6em;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: .5em;
    width: 35em;
    text-align: center;
    margin: 0 auto;
}

.log-container {
    max-height: 50%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 0.3em 0.6em;
    cursor: pointer;
    font-weight: bold;
}

.tooltip::after {
    content: 'Press "Enter" to count, "Backspace" to decrease count, "Delete" to reset the log-list';
    position: absolute;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    top: 150%;
    /* Below the icon */
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}